
.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

  /*
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-top: 38.2px;
    margin-left: 384px;
    margin-right: 384px;
  }
  
  .navbar img {
    max-width: 100px;
  }
  
  .navbar ul {
    list-style-type: none;
  }

  .navbar ul a {
    text-decoration: none;
    color: var(--springvest-paragraph);
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.2px; /* 181.333% 
    letter-spacing: -0.48px;
  }
  
  .navbar li {
    display: inline-block;
    margin-right: 20px;
  }
  */